<form method="post">
  {% csrf_token %}

  <div class="login-form">
    <div class="login-form-group">
      <label for="id">INSIRA SEU ID</label>
      {{ form.id }}
      {% if form.id.errors %}
      <div class="login-error">
        {% for error in form.id.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="login-form-group">
      <label for="password">INSIRA SUA SENHA</label>
      {{ form.password }}
      {% if form.password.errors %}
      <div class="login-error">
        {% for error in form.password.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <button type="submit" class="button-main-primary">FAZER LOG-IN</button>

  </div>
</form>