{% load static %}
<header>
  <nav>
    <a class="navbar-brand" href="{% url 'workers:index' %}">
      <img class="navbar-brand-logo" src="{% static 'images/logo.png' %}" alt="Logo da Fumazzo">
    </a>
    <section class="identity-container">
      <p class="identity-title">Administrativo</p>
      {% if worker.id is not None %}
      <section class="identity-worker-container" id="{{ worker.id }}">
        <p class="identity-worker-text">{{ worker.first_name }}</p>
        <p class="identity-worker-separator"> - </p>
        <p class="identity-worker-text">{{ workerRole.name }}</p>
      </section>
      {% endif %}
    </section>
    {% if worker.id is not None %}
    <a class="navbar-link" href="{% url 'workers:index' %}">Página Inicial</a>
    <ul class="navbar-dropdown">
      <li class="navbar-dropdown-container">
        <a class="navbar-dropdown-toggle" href="{% url 'core:index' %}">
          Gerenciar
          <img class="navbar-dropdown-toggle-icon" src="{% static 'icons/down-arrow.ico' %}" alt="Ícone de seta para baixo">
        </a>
        <ul class="navbar-dropdown-menu">
          <li class="navbar-dropdown-item"><a class="navbar-dropdown-item-link" href="{% url 'core:meal' %}">Refeições</a></li>
          <li class="navbar-dropdown-item"><a class="navbar-dropdown-item-link" href="{% url 'core:categories' %}">Categorias</a></li>
          <li class="navbar-dropdown-item"><a class="navbar-dropdown-item-link" href="{% url 'core:stock' %}">Estoque</a></li>
          <li class="navbar-dropdown-item"><a class="navbar-dropdown-item-link" href="{% url 'core:suppliers' %}">Fornecedores</a></li>
          <li class="navbar-dropdown-item"><a class="navbar-dropdown-item-link" href="{% url 'core:products' %}">Produtos</a></li>
          <li class="navbar-dropdown-item"><a class="navbar-dropdown-item-link" href="{% url 'core:tickets' %}">Tickets</a></li>
        </ul>
      </li>
    </ul>
    <a class="navbar-link" href="{% url 'core:sales' %}">Promoções</a>
    <a class="navbar-link" href="{% url 'workers:notifications' %}">Notificação</a>
    <a href="{% url 'workers:logout' %}" class="button-primary">Sair</a>
    {% endif %}
  </nav>
</header>
