{% load static %}
<header>

  <nav>
    <a href="{% url 'workers:index' %}"><img class="logo" src="{% static 'images/logo.png' %}" alt="logo.png"></a>
    <div class="identifyer-nav"><p>Administrativo</p>
      {% if workerID %}
        <div class="worker-nav">
          <p>{{ worker_first_name }}</p><p> - </p><p>{{ worker_role }}</p>
        </div>
      {% endif %}
    </div>
    {% if workerID %}
      <a class="button-nav" href="{% url 'workers:index' %}">Página Inicial</a>
        <ul class="dropdown-nav">
          <li class="dropdown">
          <a class="button-nav" href="">Gerenciar <img class="down-arrow" src="{% static 'icons/down-arrow.ico' %}" alt="down-arrow.ico"></a>
          <ul class="dropdown-nav-choices">
            <li class="dropdown-nav-option"><a class="button-nav" href="">Refeições</a></li>
            <li class="dropdown-nav-option"><a class="button-nav" href="">Categorias</a></li>
            <li class="dropdown-nav-option"><a class="button-nav" href="">Estoque</a></li>
            <li class="dropdown-nav-option"><a class="button-nav" href="">Produtos</a></li>
          </ul>
          </li>
        </ul>
      <a class="button-nav" href="">Promoções</a>
      <a class="button-nav" href="">Notificação</a>
    
      <a href="{% url 'workers:logout' %}" class="button-1">Sair</a>
    {% endif %}
  </nav>

</header>