/* --- STOCK CSS --- */

/* ##### ACCORDION ##### */

  /* CONTAINER */

    .container{

      width: 1024px;
      min-height: 100vh;
      background-color: var(--color-detail2);
      border-radius: 3px;
      display: grid;
      grid-template-rows: auto 1fr;

    }

  /* ACCORDION */

    .accordion-container{

      display: flex;
      flex-direction: column;   
      align-items: center;
      z-index: 0;
      width: 1024px;
    } 

    .accordion-row{
      width: 100%;
      height: 100px;
      border-radius: 3px;
      background-color: var(--color-detail1);
      color: var(--color-detail3);
      display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
      cursor: pointer;
      outline: none;
      transition: 0.4s;
      align-items: center;

    }

    .accordion-row-labels, .accordion-row-data{

      display: grid;
        grid-template-columns: repeat(4, 1fr);
      justify-items: center; 

    }

    .accordion-row-labels{

      grid-column: 1;
      grid-row: 1;

    }

    .accordion-row-data{

      grid-column: 1;
      grid-row: 2;

    }

    .accordion-row-buttons{

      grid-column: 3;
      grid-row: 1 /span 2;


    }
/* 
    .accordion-list{

      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      padding: 5px 15px 5px 15px;

    }

    .accordion-list:hover{

      background-color: var(--color-primary);

    }

    .panel {  
      overflow: hidden;
      display: flex;
      flex-direction: column;
    } */

    .active, .accordion-row:hover {
      background-color: var(--color-primary);
    }

    .panel {
      
      border-radius: 0px 0px 3px 3px;
      width: 96%;
      background-color: var(--color-detail1);
      display: none;
      transition: max-height 0.2s ease-out;

    }

    .accordion-item{

      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    .detail-list{

      display: grid;
        grid-template-columns: repeat(3, 1fr);
      justify-items: center; 

    }

    .accordion-division{

      border: 5px solid transparent;

    }

  /* BUTTONS */

    /* Add */

    .add-restock{

      height: fit-content;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;

    }

    .button-2{

      margin: 15px;

    }

    /* Remove */

      .button-remove{

        width: 35px;
        height: 100px;
        align-content: center;
        background-color: var(--color-detail6);
        border: 3px solid var(--color-detail6);
        border-radius: 3px;

      }

      .button-remove:hover{

        background-color: var(--color-primary);
        cursor: pointer;

      }

  /* Edit */

    .button-edit{

      width: 35px;
      height: 100px;
      align-content: center;
      background-color: var(--color-detail5);
      border: 3px solid var(--color-detail5);
      border-radius: 3px;

    }

    .button-edit:hover{

      background-color: var(--color-primary);
      cursor: pointer;

    }

  /* ICONS */

    .accordion-icon{

      width: 25px;

    }

/* ##### MODAL ##### */

  /* BACKGROUND */

    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

  /* CONTENT */

    .modal-content {
      position: relative;
      background-color: var(--color-primary);
      margin: auto;
      width: 600px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }

    .modal-header {

      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .modal-close{

      height: auto;
      display: flex;
      justify-content: end;

    }
    
    .modal-body {
      
      display: flex;
      justify-content: center;

    }

  /* ANIMATION */

    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0} 
      to {top:0; opacity:1}
    }

    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }

/* BUTTONS */

  /* Close button */

    .close-button {
      color: var(--color-detail3);
      font: var(--font-title);
    }

    .close-button:hover, .close-button:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  
  
