/* STOCK CSS */

/*  ==========================================================
    ACCORDIONS - Classes related to the accordions   
    ========================================================== */ 

/* ===== CONTAINER ===== */

.stock-container{
  width: 1024px;
  min-height: 100vh;
  background-color: var(--color-detail2);
  border-radius: 3px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

  /* ===== CONTENT ===== */

/* Accordion container */
.stock-accordion-container{
  display: flex;
  flex-direction: column;   
  align-items: center;
  z-index: 0;
  width: 1024px;
} 

/* Accordions(Stock & Product) */
.stock-accordion, .stock-product-accordion{
  width: 100%;
  height: 100px;
  border-radius: 3px;
  background-color: var(--color-detail1);
  color: var(--color-detail3);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  cursor: pointer;
  outline: none;
  transition: 0.4s;
  align-items: center;
}

/* Data exhibited in the accordion */
.stock-accordion-labels, .stock-accordion-data{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center; 
}

/* Effect applied when the accordion is active or hovered */
.active, .stock-accordion:hover, .stock-product-accordion:hover {
  background-color: var(--color-primary);
}

/* Accordions pannels(Stock & Product) */
.stock-accordion-panel, .stock-product-accordion-panel {
  border-radius: 0px 0px 3px 3px;
  width: 96%;
  background-color: var(--color-detail1);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease;
}

/* Product Accordion extra config */
.stock-product-accordion{
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Products */
.accordion-item-detail-list{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 200px;
}

/* Invisible line to make a division between the stock accordions */
.accordion-division{
  border: 5px solid transparent;
}

/*  ==========================================================
    ACCORDION BUTTONS - Buttons used on the accordions
    ========================================================== */ 


/* Add */
.stock-container-button-add{
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* Remove */
.stock-button-remove{
  width: 35px;
  height: 100px;
  align-content: center;
  background-color: var(--color-detail6);
  border: 3px solid var(--color-detail6);
  border-radius: 3px;
}

/* Edit */
.stock-button-edit{
  width: 35px;
  height: 100px;
  align-content: center;
  background-color: var(--color-detail5);
  border: 3px solid var(--color-detail5);
  border-radius: 3px;
}

/* Hover effect */
.stock-button-remove:hover, .stock-button-edit:hover{
  background-color: var(--color-primary);
  cursor: pointer;
}

/* Icons */
.stock-accordion-icon{
  width: 25px;
}

/* Button to add products */
.product-button-add{
  width: 180px;
  height: 50px;
  border-radius: 3px;
  background-color: var(--color-detail4);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: flex-end;
}

/* Button to remove products */
.product-button-remove{
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: var(--color-detail6);
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--font-text);
  color: var(--color-detail3);
}

/*  ==========================================================
    MODALS - Modals used on the page
    ========================================================== */ 

/* ===== CONTAINER ===== */

/* Dark background */
.stock-modal-container{
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* ===== CONTENT ===== */

/* Modal content */
.stock-modal-content {
  position: relative;
  background-color: var(--color-primary);
  margin: auto;
  width: 1024px;
  height: 750px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Modal header, where is located the title */
.stock-modal-header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal body, where is located the information */
.stock-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.modal-confirm-button{

  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
  height: 150px;

}

/* ===== ANIMATION ===== */

@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* ===== PRODUCTS IN EDIT MODAL ===== */

/* ===== CONTAINER ===== */

.products-container{
  gap: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 180px;
  height: 198px;
}

/* ===== CONTENT ===== */

.product-content{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Input used at products */
.product-input{
  width: 100px;
  height: 40px;
}

/* Select used at products */
.product-select{
  height: 40px;
}