{% extends 'base.html' %}

{% block title %}
  Gerenciar
{% endblock %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/core/index.css' %}">
{% endblock %}

{% block content %}

  <div class="main-content">
    
    <div class="manage-content">

      <div class="manage-content-container">
        <div class="manage-content-header">
          <h2>ESTOQUE</h2>
        </div>
        <div class="manage-content-body">
          <div class="manage-content-labels">
            <p class="manage-label">GERENCIAR</p>
            <p class="manage-label">GRÁFICO</p>
          </div>
          <div class="manage-content-options">
            <a class="button-manage manage" href="{% url 'core:stock' %}"></a>
            <a class="button-manage graph"></a>
          </div>
        </div>
      </div>

      <div class="manage-content-container">
        <div class="manage-content-header">
          <h2>PRODUTOS</h2>
        </div>
        <div class="manage-content-body">
          <div class="manage-content-labels">
            <p class="manage-label">GERENCIAR</p>
            <p class="manage-label">GRÁFICO</p>
          </div>
          <div class="manage-content-options">
            <a class="button-manage manage" href="{% url 'core:stock' %}"></a>
            <a class="button-manage graph"></a>
          </div>
        </div>
      </div>

      <div class="manage-content-container">
        <div class="manage-content-header">
          <h2>PEDIDOS</h2>
        </div>
        <div class="manage-content-body">
          <div class="manage-content-labels">
            <p class="manage-label">GERENCIAR</p>
            <p class="manage-label">GRÁFICO</p>
          </div>
          <div class="manage-content-options">
            <a class="button-manage manage" href="{% url 'core:stock' %}"></a>
            <a class="button-manage graph"></a>
          </div>
        </div>
      </div>

      <div class="manage-content-container">
        <div class="manage-content-header">
          <h2>REFEIÇÕES</h2>
        </div>
        <div class="manage-content-body">
          <div class="manage-content-labels">
            <p class="manage-label">GERENCIAR</p>
            <p class="manage-label">GRÁFICO</p>
          </div>
          <div class="manage-content-options">
            <a class="button-manage manage" href="{% url 'core:stock' %}"></a>
            <a class="button-manage graph"></a>
          </div>
        </div>
      </div>

      <div class="manage-content-container">
        <div class="manage-content-header">
          <h2>PROMOÇÕES</h2>
        </div>
        <div class="manage-content-body">
          <div class="manage-content-labels">
            <p class="manage-label">GERENCIAR</p>
            <p class="manage-label">GRÁFICO</p>
          </div>
          <div class="manage-content-options">
            <a class="button-manage manage" href="{% url 'core:stock' %}"></a>
            <a class="button-manage graph"></a>
          </div>
        </div>
      </div>

      <div class="manage-content-container">
        <div class="manage-content-header">
          <h2>NOTIFICAÇÕES</h2>
        </div>
        <div class="manage-content-body">
          <div class="manage-content-labels">
            <p class="manage-label">GERENCIAR</p>
            <p class="manage-label">GRÁFICO</p>
          </div>
          <div class="manage-content-options">
            <a class="button-manage manage" href="{% url 'core:stock' %}"></a>
            <a class="button-manage graph"></a>
          </div>
        </div>
      </div>

      <div class="manage-content-container">
        <div class="manage-content-header">
          <h2>NEWSLETTER</h2>
        </div>
        <div class="manage-content-body">
          <div class="manage-content-labels">
            <p class="manage-label">GERENCIAR</p>
            <p class="manage-label">GRÁFICO</p>
          </div>
          <div class="manage-content-options">
            <a class="button-manage manage" href="{% url 'core:stock' %}"></a>
            <a class="button-manage graph"></a>
          </div>
        </div>
      </div>

      <div class="manage-content-container">
        <div class="manage-content-header">
          <h2>TICKETS</h2>
        </div>
        <div class="manage-content-body">
          <div class="manage-content-labels">
            <p class="manage-label">GERENCIAR</p>
            <p class="manage-label">GRÁFICO</p>
          </div>
          <div class="manage-content-options">
            <a class="button-manage manage" href="{% url 'core:tickets' %}"></a>
            <a class="button-manage graph"></a>
          </div>
        </div>
      </div>
      
    </div>

  </div>
  
  <script src="{% static 'js/core/stock.js' %}"></script>

{% endblock %}