{% extends 'base.html' %}

{% block title %}
Gerenciar
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/core/index.css' %}">
{% endblock %}

{% block content %}

  <div class="content-main">
    
    <div class="manage-content">
      <div class="manage-content-header">
        <h2>GERENCIAR </h2>
      </div>
      <div class="manage-content-body">
        <div class="manage-content-labels">
          <p class="manage-label"></p>
          <p class="manage-label"></p>
          <p class="manage-label"></p>
          <p class="manage-label"></p>
        </div>
        <div class="manage-content-options">
          <button>
            <img src="{% static 'images/core/manage/register.png' %}" alt="">
          </button>
        </div>
      </div>
    </div>

  </div>

{% endblock %}