{% extends 'base.html' %}

{% block title %}
Promoções
{% endblock %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/core/sales.css' %}">
{% endblock %}

{% block content %}

  <div class="main-content">

    <div class="sales-container">

      {% if workerRole.permission >= 4 %}
        <div class="sale-button-add">
          <button class="button-secondary" name="add">Cadastrar</button>
        </div>
      {% endif %}

    </div>

  </div>

  <script src="{% static 'js/core/sales.js' %}"></script>

{% endblock %}