{% extends 'base.html' %}

{% block title %}
Estoque
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/core/stock.css' %}">
{% endblock %}

{% block content %}

<div class="content">

  <h1>REGISTROS DO ESTOQUE</h1>

  <div class="container">

    <div class="add-restock">

      <button class="button-2" name="add" onclick="openModal(this)">Adicionar</button>

    </div>

    <div class="accordions">
      <div class="accordion-container" id="accordion-container">
        {% for restock in restocks %}
          <div class="accordion-row">
            <div class="accordion-row-labels">
              <p class="row-date-label">DATA: </p>
              <p class="row-supplier-label">FORENEDOR: </p>
              <p class="row-receiver-label">RECEPTOR: </p>
              <p class="row-price-label">PREÇO TOTAL: </p>
            </div>
            <div class="accordion-row-data">
              <p class="row-date" id="restock.date">{{ restock.date | date:"d/m/Y" }}</p>
              <p class="row-supplier" id="{{ restock.supplier_id }}">{{ restock.supplier }}</p>
              <p class="row-receiver" id="{{ restock.receiver_id }}">{{ restock.receiver }}</p>
              <p class="row-price" id="{{ restock.total_price }}">{{ restock.total_price }}</p>
            </div>
            <div class="accordion-row-buttons">
              <button class="button-edit" id="{{ restock.id }}" name="edit" onclick="openModal(this)">
                <img src="{% static 'icons/edit.ico' %}" class="accordion-icon" alt="">
              </button>
              <button class="button-remove" id="{{ restock.id }}" name="remove" onclick="openModal(this)">
                <img src="{% static 'icons/trash-can.ico' %}" class="accordion-icon" alt="">
              </button>
            </div>
          </div>
          <div class="panel" id="panel-{{ restock.id }}">
            {% for resupply in restock.resuply_set.all %}
              <div class="accordion-row accordion-item">
                <p class="list-item">{{ resupply.product.name }}</p>
              </div>
              <div class="panel">
                <div class="detail-list">
                  <p class="list-item">QUANTIDADE: {{ resupply.quantity }}</p>
                  <p class="list-item">PREÇO: {{ resupply.batch_price }}</p>
                  <p class="list-item">DATA DE VALIDADE: {{ resupply.expiration_date }}</p>
                </div> 
              </div>
              {% empty %}
              <p>Não há produtos neste registro.</p>
            {% endfor %}
          </div>
          <hr class="accordion-division" id="accordion-division-{{ restock.id }}">
        {% endfor %}
      </div>
    </div>
  </div>

</div>

<!-- Modals -->
<div id="add-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>ADICIONAR REGISTRO</h2>
    </div>
    <div class="modal-body">
      {% include formAdd_path %}
    </div>
  </div>
</div>

<div id="edit-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>EDITAR REGISTRO</h2>
    </div>
    <div class="modal-body">
      <div>
        <select name="supplier" id="supplier">
          {% for supplier in suppliers %}
            <option value="{{ supplier.id }}" 
                    {% if supplier.id == selected_supplier_id %} selected {% endif %}>
              {{ supplier.name }}
            </option>
          {% endfor %}
        </select>
        <select name="" id="">
          {% for receiver in receivers %}
            <option value="{{ receiver.id }}">{{ receiver.first_name }}</option>
          {% endfor %}
        </select>
        <input type="sele" id="edit-supplier"/>
        <input type="text" id="edit-receiver"/>
        <input type="date" id="edit-date"/>
        <input type="number" id="edit-price"/>
      </div>
    </div>
    <button class="button-1" id="confirm-edit">CONFIRMAR</button>
  </div>
</div>

<div id="remove-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>REMOVER REGISTRO</h2>
    </div>
    <div class="modal-body">
      <p>Você tem certeza que deseja remover o registro?</p>
    </div>
    <button class="button-1" id="confirm-remove">CONFIRMAR</button>
  </div>
</div>

<script src="{% static 'js/core/stock.js' %}"></script>

{% endblock %}