{% extends 'base.html' %}

{% block title %}
Estoque
{% endblock %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/core/stock.css' %}">
{% endblock %}

{% block content %}
<div class="content-main">
  <h1 class="content-main-title">REGISTROS DO ESTOQUE</h1>

  <section class="stock-container">
    <div class="stock-container-button-add">
      <button class="button-secondary" name="add" onclick="openModal(this)">Adicionar</button>
    </div>
    <section class="stock-accordion-container" id="accordion-container">
      {% for restock in restocks %}
        <div class="stock-accordion" id="accordion">
          <div class="stock-accordion-data">
            <div class="stock-accordion-data-date">
              <p class="stock-accordion-data-label" for="">DATA:</p>
              <p class="stock-accordion-text" id="restock.date">{{ restock.date | date:"d/m/Y" }}</p>
            </div>
            <div class="stock-accordion-data-supplier">
              <p class="stock-accordion-data-label" for="">FORNECEDOR:</p>
              <p class="stock-accordion-text" id="{{ restock.supplier_id }}">{{ restock.supplier }}</p>
            </div>
            <div class="stock-accordion-data-receiver">
              <p class="stock-accordion-data-label" for="">RECEPTOR:</p>
              <p class="stock-accordion-text" id="{{ restock.receiver_id }}">{{ restock.receiver }}</p>
            </div>  
            <div class="stock-accordion-data-price">
              <p class="stock-accordion-data-label" for="">PREÇO TOTAL:</p>
              <p class="stock-accordion-text" id="{{ restock.total_price }}">{{ restock.total_price }}</p>
            </div>
          </div>
          <div class="stock-accordion-buttons">
            <button class="stock-button-edit" id="{{ restock.id }}" name="edit" onclick="openModal(this)">
              <img src="{% static 'icons/edit.ico' %}" class="stock-accordion-icon" alt="edit-icon">
            </button>
            <button class="stock-button-remove" id="{{ restock.id }}" name="remove" onclick="openModal(this)">
              <img src="{% static 'icons/trash-can.ico' %}" class="stock-accordion-icon" alt="remove-icon">
            </button>
          </div>
        </div>
        <div class="stock-accordion-panel" id="panel-{{ restock.id }}">
          {% for resupply in restock.resupply_set.all %}
            <div class="stock-product-accordion">
              <p class="" id="">{{ resupply.product.name }}</p>
            </div>
            <div class="stock-product-accordion-panel">
              <div class="accordion-item-detail-list">
                <p class="accordion-item-detail-list-item">QUANTIDADE: {{ resupply.quantity }}</p>
                <p class="accordion-item-detail-list-item">PREÇO: {{ resupply.batch_price }}</p>
                <p class="accordion-item-detail-list-item">DATA DE VALIDADE: {{ resupply.expiration_date }}</p>
              </div>
            </div>
          {% empty %}
            <p>Não há produtos neste registro.</p>
          {% endfor %}
        </div>
        <hr class="accordion-division">
      {% endfor %}
      </section>
  </section>
</div>

<!-- Modals -->
<div class="stock-modal-container-add">
  <div class="stock-modal-header-add">
    <h2 class="stock-modal-title-add">ADICIONAR REGISTRO</h2>
  </div>
  <div class="stock-modal-body-add">
    {% include formAdd_path %}
  </div>
</div>

<div class="stock-modal-container-edit">
  <div class="stock-modal-header-edit">
    <h2 class="stock-modal-title-edit">EDITAR REGISTRO</h2>
  </div>
  <div class="stock-modal-body-edit">
    <div class="modal-edit-form">
      <form id="restock_edit_form">
        <select name="supplier" id="edit-supplier" class="form-input-select">
          {% for supplier in suppliers %}
            <option value="{{ supplier.id }}">{{ supplier.name }}</option>
          {% endfor %}
        </select>        
        <select name="receiver" id="edit-receiver" class="form-input-select">
          {% for receiver in receivers %}
            <option value="{{ receiver.id }}">{{ receiver.first_name }}</option>
          {% endfor %}
        </select>  
        <input type="date" id="edit-date" class="form-input-text"/>
        <input type="number" id="edit-price" class="form-input-number"/>
        <div class="formEdit-button">
          <button class="button-primary" id="confirm-edit" type="submit">CONFIRMAR</button>
        </div>
      </form>
    </div>
    <h2 class="modal-header-title">PRODUTOS:</h2>
    <div class="modal-products-container" id="products-container"></div>
    <button class="button-main-secundary" id="add-product">ADICIONAR PRODUTO</button>
  </div>
</div>

<div class="stock-modal-container-remove">
  <div class="stock-modal-header-remove">
    <h2 class="stock-modal-title-remove">REMOVER REGISTRO</h2>
  </div>
  <div class="stock-modal-body-remove">
    <p class="stock-modal-remove-text">Você tem certeza que deseja remover o registro?</p>
  </div>
  <button class="button-primary" id="confirm-remove">CONFIRMAR</button>
</div>

<script src="{% static 'js/core/stock.js' %}"></script>

{% endblock %}
