/* GLOBAL CSS */

/*  ============================================================
    IMPORTS - Files imports     
    ============================================================ */ 

/* ===== FONTS ===== */

/* Oswald */

@font-face{
  font-family: 'Oswald';
  src: url('/static/fonts/Oswald.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* DMSans */
@font-face{
  font-family: 'DMSans';
  src: url('/static/fonts/DMSans.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/*  ============================================================
    VARIABLES - Global variables   
    ============================================================ */ 

:root{

  /* ===== COLORS ===== */

  --color-primary: #000000; /* Black */
  --color-secundary: #F6872C; /* Orange */
  --color-detail1: #0d0d0d; /* Darker Gray */
  --color-detail2: #1B1B1B; /* Dark Gray */
  --color-detail3: #333333; /* Gray */
  --color-detail4: #FFEBD8; /* Cream */
  --color-detail5: #0C871A; /* Green */
  --color-detail6: #DCB61D; /* Mustard */
  --color-detail7: #A81414; /* Red */


  /* ===== FONTS CONFIGURATIONS ===== */

  /* Fonts */
  --font-oswald: 'Oswald', sans-serif;
  --font-dmsans: 'DMSans', sans-serif;

  /* Size */
  --size-title: 3.25rem;
  --size-subtitle: 2.25rem;
  --size-text: 1rem;
  --size-caption: 0.8rem;

  /* Weight */
  --weight-bold: 700;
  --weight-semibold: 600;
  --weight-regular: 400;
  --weight-ligth: 300;
  --weigth-thin: 100;

  /* ===== FONTS SETS ===== */

  --font-title: normal normal var(--weight-bold) var(--size-title) var(--font-oswald);
  --font-subtitle: normal normal var(--weight-semibold) var(--size-subtitle) var(--font-oswald);
  --font-text: normal normal var(--weight-regular) var(--size-text) var(--font-dmsans);
  --font-caption: normal normal var(--weight-ligth) var(--size-caption) var(--font-dmsans);
  --detail-subtitle1: normal normal var(--weigth-thin) var(--size-subtitle) var(--font-dmsans);
  --detail-text1: normal normal var(--weigth-thin) var(--size-text) var(--font-dmsans);

}

/*  ============================================================
    RESETS - Global resets   
    ============================================================ */

/* ===== GLOBAL ELEMENTS ===== */

*{
  list-style-type: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

/* ===== BUTTONS AND INPUTS ===== */

button, input{
  border: none;
}

/* ===== SPINNERS REMOVER ===== */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    display: none;
}

.select-primary{
  height: 40px;
  width: 200px;
}

/*  ============================================================
    BASE CONFIGURATION - Base configuration of elements
    ============================================================ */

/* ===== TEXT ===== */

/* Paragraph */
p{
  font: var(--font-text);
  color: var(--color-detail4);
}

/* Anchor */
a{
  font: var(--font-text);
  color: var(--color-detail4);
}

/* Title */
h1{
  font: var(--font-title);
  color: var(--color-detail4);
}

/* Subtitle */
h2{
  font: var(--font-subtitle);
  color: var(--color-detail4);
}

/* Label */
label{
  font: var(--font-text);
  color: var(--color-detail4);
}

/* ===== TEXT CLASSES ===== */

.title{
  font: var(--font-title);
  color: var(--color-detail4);
}

.subtitle{
  font: var(--font-subtitle);
  color: var(--color-detail4);
}

.text{
  font: var(--font-text);
  color: var(--color-detail4);
}

.caption{
  font: var(--font-caption);
  color: var(--color-detail4);
}

.detail-subtitle1{
  font: var(--detail-subtitle1);
  color: var(--color-detail4);
}

.detail-text1{
  font: var(--detail-text1);
  color: var(--color-detail4);
}

/* ===== DATA INPUTS ===== */

input, select, textarea{
  border-radius: 3px;
  padding-left: 15px;
  box-sizing: border-box;
  font: var(--font-text);
  background-color: var(--color-detail3);
  color: var(--color-detail4);
}

/* ===== FORMS ===== */

form{
  bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

form ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form label{
  display: flex;
  gap: 20px;
  align-content: center;
}

form label input{
  width: 25px;
  height: 25px;
}

/*  ============================================================
    BODY - Body of the page  
    ============================================================ */

body{
  background-color: var(--color-primary);
  min-height: 100vh;
  max-width: 100vw;
  background-image: url('../images/background.png');
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  justify-items: center;
  gap: 100px;
}

.main-content{
  display: flex;
  justify-content: center;
  gap: 100px;
}

/*  ============================================================
    HEADER - Top element of the page structure 
    ============================================================ */

/* ===== BASE CONFIG ===== */

header{
  grid-area: header;
  min-width: 100%;
  height: 8.25rem;
  display: flex;
  justify-content: center;
}

/* ===== NAVBAR ===== */

nav{
  display: grid;
  grid-template-columns: auto 1fr auto auto auto auto auto;
  align-items: center;
  align-self: center;
  width: 1024px;
  gap: 25px;
}

/* Logo */
.navbar-brand-logo{
  height: 125px;
}

/* Identifyer */
.identity-container{
  display: flex;
  flex-direction: column;
}

/* Worker Data */
.identity-worker-container{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* ===== DROPDOWN ===== */

/* Navbar link */
.navbar-link, .navbar-dropdown-toggle{
  width: 6.25rem;
  height: 1.75rem;
  text-align: center;
  align-content: center;
  display: block;
}

/* Navbar link hover effect */
.navbar-link:hover, .navbar-dropdown-toggle:hover{
  background-color: var(--color-detail3);
  color: var(--color-secundary);
  border-radius: 3px;
  cursor: pointer;
}

/* Dropdown icon */
.navbar-dropdown-toggle-icon{
  width: 12px;
  transition: transform 0.3s ease; 
}

/* Dropdown choices */
.navbar-dropdown-menu{
  display: none;
  position: absolute;
  background-color: var(--color-detail3);
  border-radius: 0px 0px 10px 10px;
  width: 6.25rem;
  z-index: 1;
}

/* Show dropdown options */
.navbar-dropdown:hover .navbar-dropdown-menu{
  display: block;
}

.navbar-dropdown-item-link{
  display: flex;
  width: 100%;
}

/* Dropdown options hover effect */
.navbar-dropdown-item-link:hover{
  background-color: var(--color-detail2);
}

/* Efeito de hover no "Gerenciar" quando o menu estiver ativo */
.navbar-dropdown:hover .navbar-dropdown-toggle{
  background-color: var(--color-detail2);  /* Aplica o efeito de hover no "Gerenciar" */
  color: var(--color-secundary);  /* Altera a cor do texto, se necessário */
}

/* Rotate the down arrow to an up arrow when the user hovers over the dropdown */
.navbar-dropdown:hover .navbar-dropdown-toggle-icon{
  transform: rotate(180deg); /* Rotaciona a seta */
}

/* Change the down arrow to an up arrow when the user hovers over the dropdown */
.navbar-dropdown:hover .navbar-dropdown-toggle-icon{
  content: url("../icons/up-arrow.ico");
}

/*  ============================================================
    MAIN - Middle element of the page structure 
    ============================================================ */

/* ===== BASE CONFIG ===== */

main{
  grid-template-areas: main;
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  align-items: center;
}

/* ===== CONTENT SECTION ===== */

.main-content{
  width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

/*  ============================================================
    FOOTER - Bottom element of the page structure 
    ============================================================ */

/* ===== BASE CONFIG ===== */

footer{
  width: 100%;
  display: flex;
  background-color: var(--color-primary);
  justify-content: center;
}

/* ===== FOOTER CONTENT ===== */

.footer-container{
  width: 1024px;
  height: 25.5rem;
  grid-template-areas: footer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto;
}

/* Brand */
.footer-brand-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-content: center;
  margin: auto;
}

.footer-brand-logo{
  height: 125px;
}

/* Rights */
.footer-rights-content{
  grid-column: 1 /span 2;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-rights-caption{
  align-self: end;
}

/*  ============================================================
    BUTTONS - Buttons styles
    ============================================================ */

/* Primary */
.button-primary{
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--font-text);
  color: var(--color-detail4);
  width: 11.5rem;
  height: 3.25rem;
  background-color: var(--color-secundary);
  border: 3px solid var(--color-secundary);
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.button-primary:hover{
  background-color: var(--color-primary);
  color: var(--color-secundary);
  cursor: pointer;
}

/* Secondary */
.button-secondary{
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--font-text);
  color: var(--color-detail4);
  width: 11.25rem;
  height: 3.125rem;
  background-color: var(--color-detail5);
  border: 3px solid var(--color-detail5);
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.button-secondary:hover{
  background-color: var(--color-primary);
  color: var(--color-detail5);
  cursor: pointer;
}

/*  ============================================================
    INPUTS - Inputs styles
    ============================================================ */

.input-primary{
  width: 350px;
  height: 40px;
  background-color: var(--color-detail3);
  color: var(--color-detail4);
}

.login-form{

  gap:30px;
  display: flex;
  flex-direction: column;

}

/*  ============================================================
    MODAL - Modals used for the messages
    ============================================================ */ 

/* ===== CONTAINER ===== */

/* Dark background */
.message-modal-container{
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 80vh; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* ===== CONTENT ===== */

/* Modal content */
.message-modal-content{
  position: relative;
  background-color: var(--color-detail2);
  margin: auto;
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.message-modal-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

/* Modal Header */
.message-modal-header{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* ===== ANIMATION ===== */

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
  }