/* DASHBOARD CSS */

/*  ============================================================
    WORKER DATA - Shows the worker data
    ============================================================ */ 

/* =====  ===== */

.worker-content{
    background-color: var(--color-detail1);
    border-radius: 5px;
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.worker-data-container{
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(3, 220px);
    gap: 25px;
}

.worker-data-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.worker-sector{
    grid-column: 1;
    grid-row: 1;
}

.worker-status{
    grid-column: 2;
    grid-row: 1;
}

.worker-remaining{
    grid-column: 1;
    grid-row: 2;
}

.worker-permission{
    grid-column: 2;
    grid-row: 2;
}

.worker-notification{
    grid-column: 3;
    grid-row: 1 /span 2 ;
}

.worker-remaining-text{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.worker-permission-text-container{
    display: flex;
    justify-content: center;
}

.worker-function{
    grid-column: 1 /span 3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
}

.worker-function-image-container{
    grid-column: 2;
    grid-row: 1 /span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.worker-function-image{
    height: 180px;
    width: 180px;
}

.worker-notification-data{
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.status-indicator{
    border-radius: 15px;
    height: 15px;
    width: 15px;
}

/*  ============================================================
    STATUS - Status used on the page
    ============================================================ */ 

/* Green */
.functional{
    border-color: var(--color-detail5);
    background-color: var(--color-detail5);
}

/* Yellow */
.partially-functional{
    border-color: var(--color-detail6);
    background-color: var(--color-detail6);
}

/* Red */
.not-functional{
    border-color: var(--color-detail7);
    background-color: var(--color-detail7);
}

/*  ============================================================
    TICKET - Ticket system
    ============================================================ */ 

.ticket-form-content{
    width: 930px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-detail1);
    padding: 30px;
    gap: 30px;
}

.ticket-form-data-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-description{
    grid-column: 1 /span 2;
}

.ticket-form-description{
    width: 100%;
    height: 300px;
}

/*  ============================================================
    SECTORS - Shows the sectors status
    ============================================================ */ 

.sector-status-container{
    display: flex;
    flex-direction: column;
    background-color: var(--color-detail2);
    gap: 30px;
    width: 950px;
}

.sector-status-content{
    height: 240px;
    width: 935px;
    border-radius: 5px;
    background-color: var(--color-detail1);
    align-self: center;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
}

.sector-status-bar{
    border-width: 0px 0px 20px 0px;
    grid-column: 1 /span 2;
    grid-row: 2;
    margin-bottom: 10px;
}

.sector-status{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.sector-status-name{
    padding: 20px;
}

.sector-status-text, .sector-status-problems{
    width: 155px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--color-detail2);
    display: flex;
    align-items: center;
    justify-content: center;
}
