.worker-content{
    background-color: var(--color-detail1);
    border-radius: 5px;
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.worker-data-container{
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(3, 220px);
    gap: 25px;
}

.worker-data-content{
    display: flex;
    justify-content: center;
}

.worker-sector{
    grid-column: 1;
    grid-row: 1;
}

.worker-status{
    grid-column: 2;
    grid-row: 1;
}

.worker-remaining{
    grid-column: 1;
    grid-row: 2;
}

.worker-permission{
    grid-column: 2;
    grid-row: 2;
}

.worker-notification{
    grid-column: 3;
    grid-row: 1 /span 2 ;
}

.worker-function{
    grid-column: 1 /span 3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
}

.worker-function-image-container{
    grid-column: 2;
    grid-row: 1 /span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.worker-function-image{
    height: 187px;
    width: 187px;
}

.worker-notification-data{
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}