/* WORKER:LOGIN CSS */

/*  ==========================================================
    LOGIN - Container with log-in function
    ========================================================== */ 

/* ===== CONTAINER ===== */

.login-section{
  width: 1024px;
  height: 600px; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-primary);
}

/* ===== CONTENT ===== */

.login-brand{
  margin: auto; 
}

.login-logo{
  height: 200px;
}

.login-form{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
