/* MANAGE CSS */

/*  ============================================================
    MANAGE - Options shown to user   
    ============================================================ */ 

/* ===== CONTAINER ===== */
.manage-content{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* ===== CONTENT ===== */

/* Informative texts */
.manage-content-options, .manage-content-labels{
    gap: 30px;
    display: flex;
    flex-direction: row;
}

/* Options label */
.manage-label{
    width: 230px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  ============================================================
    BUTTONS - Buttons used at the manage  
    ============================================================ */ 

/* Base button */
.button-manage{
    width: 230px;
    height: 46px;
    border-radius: 3px;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

/* Backgroung image */
.manage{
    background-image: url(../../images/core/manage/manage.png);
}

/* Backgroung image */
.graph{
    background-image: url(../../images/core/manage/graph.png);
}
