{% extends 'base.html' %}

{% block title %}
Página Inicial
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/workers/index.css' %}">
{% endblock %}

{% block content %}

  <div class="main-content">

    <h1>OLÁ, {{ worker.first_name }}</h1>
    
    <div class="worker-data-container">      

      <div class="worker-sector worker-content">
        <div class="worker-sector-label">
          <h2 class="font-detail1">SETOR</h2>
        </div>
        <div class="worker-data-content">
          <p class="title">{{ workerRole.sector }}</p>
        </div>
      </div>

      <div class="worker-status worker-content">
        <div class="worker-status-label">
          <h2 class="font-detail1">STATUS</h2>
        </div>
        <div class="worker-data-content">
          <h1>TESTE</h1>
        </div>
      </div>

      <div class="worker-remaining worker-content">
        <div class="worker-remaining-label">
          <h2 class="font-detail1">HORAS RESTANTES</h2>
        </div>
        <div class="worker-data-content">
          <p class="title">TESTE</p>
        </div>
      </div>

      <div class="worker-permission worker-content">
        <div class="worker-permission-label">
          <h2 class="font-detail1">PERMISSÃO</h2>
        </div>
        <div class="worker-data-content">
          <p class="title">{{ workerRole.permission }}</p>
        </div>
      </div>

      <div class="worker-notification worker-content">
        <div class="worker-notification-label">
          <h2 class="font-detail1">NOTIFICAÇÕES</h2>
        </div>
        <div class="worker-notification-data">
          
        </div>
      </div>

      <div class="worker-function worker-content">
        <div class="worker-function-label">
          <h2 class="font-detail1">FUNÇÃO</h2>
        </div>
        <div class="worker-function-data">
          <p class="title">{{ workerRole.name }}</p>
          <p class="caption"> {{ workerRole.description }} </p>
        </div>
        <div class="worker-function-image-container">
          <img class="worker-function-image" src="{{ workerRole.image }}" alt="Imagem do cargo">
        </div>
      </div>

    </div>

  </div>

{% endblock %}