{% extends 'base.html' %}
{% load static %}

{% block title %}
  Login
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/workers/login.css' %}">
{% endblock %}

{% block content %}
<div class="main-content">
  <div class="login-container">

    <section class="login-brand-container">
      <img src="{% static 'images/logo.png' %}" class="login-brand-logo" alt="Fumazzo logo.png">
      <h2 class="login-brand-subtitle">BEM VINDO</h2>
      <p class="login-brand-text caption">Fumazzo Administrativo</p>
    </section>

    <section class="login-form-container">
      <h1 class="login-form-title">LOG-IN</h1>
      {% include form_path %}
    </section>
    
  </div>
</div>
{% endblock %}