{% extends 'base.html' %}
{% load static %}

{% block title %}
  Login
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/workers/login.css' %}">
{% endblock %}

{% block content %}

<div class="main-content">
  <div class="login-container">

    <section class="login-brand-container">
      <img src="{% static 'images/logo.png' %}" class="login-brand-logo" alt="Fumazzo logo.png">
      <h2 class="login-brand-subtitle">BEM VINDO</h2>
      <p class="login-brand-text caption">Fumazzo Administrativo</p>
    </section>

    <section class="login-form-container">
      <h1 class="login-form-title">LOG-IN</h1>
      <form class="login-form" id="login-form" method="POST">
        <div class="login-form-data">
          <h2>ID</h2>
          <input type="number" class="input-primary" id="id" required>
        </div>
        <div>
          <h2>SENHA</h2>
          <input type="password" class="input-primary" id="password" required>
        </div>
        <button class="button-primary" id="confirm" type="submit">CONFIRMAR</button>
      </form>
    </section>
    
  </div>
</div>

<script src="{% static 'js/workers/login.js' %}"></script>

{% endblock %}