<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fumazzo Admin - {% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block css %}{% endblock %}
    </head>
    <body>
    
        {% include 'partials/header.html' %}

        <main>
            {% block content %}{% endblock %}
        </main>
        
        {% include 'partials/footer.html' %}

        <script src="{% static 'js/scripts.js' %}"></script>

    </body>
</html>