<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fumazzo Admin - {% block title %}{% endblock %}</title>
  {% load static %}
  <link rel="icon" href="{% static 'icons/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block css %}{% endblock %}
</head>

<body>

  {% include 'partials/header.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'partials/footer.html' %}

  <div class="message-modal-container" id="message">
    <div class="message-modal-content">
      <div class="message-modal-header">
        <p class="message-modal-title subtitle">Erro</p>
        <p class="message-modal-error subtitle" id="message-error">teste</p>
      </div>
      <div class="message-modal-body">
        <p class="message-modal-text" id="message-text">teste</p>
      </div>
    </div>
  </div>

  <script src="{% static 'js/scripts.js' %}"></script>

</body>

</html>