/* WORKER:LOGIN CSS */

/*  ============================================================
    LOGIN - Container with log-in function
    ============================================================ */ 

/* ===== LOGIN CONTAINER ===== */

.login-container{
  width: 1024px;
  height: 600px; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-primary);
}

/* ===== BRAND CONTAINER ===== */

.login-brand-container{
  margin: auto; 
}

/* ===== BRAND CONTENT ===== */

.login-brand-logo{
  height: 200px;
}

/* ===== FORM CONTAINER ===== */

.login-form-container{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* ===== LOGIN FORM ===== */

.login-form{
  display: flex;
  align-items: center;
}