{% load static %}

<form method="post">

    {% csrf_token %}

    <div class="form">
        <div>
            <p><b>NOME</b></p>
            {{form.name}}
        </div>

        <div>
            <p><b>PREÇO</b></p>
            {{form.price}}
        </div>

        <div>
            <p><b>DESCRIÇÃO</b></p>
            {{form.description}}
        </div>

        <div>
            <p><b>CALORIAS</b></p>
            {{form.calories}}
        </div>

        <div>
            <p><b>IMAGEM</b></p>
            {{form.image}}
        </div>

        <div>
            <button type="submit" class="button-1">FAZER LOG-IN</button>
        </div>
    </div>

</form>