<form id="restock_edit_form" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="form">
        <div>
            <p><b>DATA</b></p>
            {{ formEdit.date }}
        </div>
        <div>
            <p><b>FORNECEDOR</b></p>
            {{ formEdit.supplier }}
        </div>
        <div>
            <p><b>RECEPTOR</b></p>
            {{ formEdit.receiver }}
        </div>
        <div>
            <p><b>PREÇO TOTAL</b></p>
            {{ formEdit.total_price }}
        </div>
        <div class="form-button">
            <button class="button-1" id="confirm-edit" type="submit">CONFIRMAR</button>
        </div>
    </div>
</form>

