{% load static %}

<form method="post">

    {% csrf_token %}

    <div class="form">
        <div>
            <p><b>NOME</b></p>
            {{form.name}}
        </div>

        <div>
            <p><b>ENDEREÇO</b></p>
            {{form.address}}
        </div>

        <div>
            <p><b>TELEFONE</b></p>
            {{form.phone}}
        </div>

        <div>
            <p><b>E-MAIL</b></p>
            {{form.email}}
        </div>

        <div>
            <button type="submit" class="button-1">FAZER LOG-IN</button>
        </div>
    </div>

</form>